.cell-output-display img {
    max-width: 100%;
    height: auto;
}

.sidebar-item-section {
    margin-top: 2rem !important;
}

.sidebar-item-section > .sidebar-item-container > .sidebar-item-text {
    font-weight: bold;
}
